
.icon-eitaa:before { content: '\e800'; } /* '' */
.icon-rubika:before { content: '\e801'; } /* '' */
.icon-bale:before { content: '\e802'; } /* '' */
.icon-elevator:before { content: '\e803'; } /* '' */
.icon-electiric-ele:before { content: '\e804'; } /* '' */
.icon-sunpanel:before { content: '\e808'; } /* '' */
.icon-ups:before { content: '\e809'; } /* '' */
.icon-elecboard:before { content: '\e80a'; } /* '' */
.icon-rubika-2:before { content: '\e80c'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
